@import "reset";
@import "base";

.container{
    width: 1240px;
    margin: 0 auto;
}

.parts-type{
    border-bottom: 2px solid rgb(252,102,40);
}
               
.index-wrap{
    width:100%;
    height: 40px;
    background: #f8f8f8;

    .l-top{
        @extend .container;
        height: 40px;
        padding:0 15px 0 10px;
        box-sizing: border-box;

        .t-left{
            float:left;
           
            a{
                margin: 0 10px;
                line-height: 40px;
            }
            a:hover{
                color:#000;
            }
        }
        .t-right{
            float: right;
            position: relative;
            a{
                margin: 0 10px;
                line-height: 40px;
                img{
                    vertical-align: middle;
                }
            }
            a:hover{
                color:#000;
            }

   
            .cartTips{
                width: 314px;
                height: 60px;
                border:1px solid #ededed;
                background: #fff;
                position: absolute;
                top:40px;
                right: -10px;
                line-height: 60px;
                text-align: center;
                img{
                    vertical-align: middle;
                }
            }
        }
    }
}

.nav-wrap{
    width: 100%;
    height: 85px;
    background: #ffffff;
    position: relative;
    .i-nav{
        overflow: hidden;
        padding:0 15px 0 10px;
        box-sizing: border-box;
        .logo{
            width: 180px;
            height: 85px;
            line-height: 85px;
            float: left;
            a{
                display: block;
                text-indent: -9999px;
                background: url(../images/ZTE-logo.png) no-repeat center;
            }
        }
        .nav{
            float: left;
            width: 834px;
            height: 85px;
            line-height: 85px;
            
            ul{
                height: 85px;
                margin-left: 170px;
                li{
                    float: left;
                    margin: 0 15px;
                    a{
                        font-size: 14px;
                        color:#333;
                    }
                    a:hover{
                        color:rgb(82,149,222)
                    }
                    
                }
            }
            .detail-block{
                position: absolute;
                width: 100%;
                height: 228px;
                top:85px;
                left:0px;
                background: #fff;
                z-index:999;
                ul{
                    height: 228px; 
                    li{
                        margin: 0px;
                        float: left;
                        width:205px;
                        height: 228px;
                        overflow: hidden;
                        text-align: center;
                        .detail-img{
                            margin-top: 20px;
                            width: 204px;
                            height: 140px;
                            margin: 0;
                            line-height: 140px;
                            text-align: center;
                            border-left:1px solid rgb(224,224,224);
                            img{
                                width: 140px;
                                height: 140px;
                                vertical-align: middle;
                            }
                          
                         }
                        
                         .details{
                            margin-top: 10px;
                            .d-title{
                                color:#333;
                                font-size: 12px;
                            }
                            p{
                                padding:0 15px;
                                overflow: hidden;/*超出部分隐藏*/
                                text-overflow:ellipsis;/* 超出部分显示省略号 */
                                white-space: nowrap;/*规定段落中的文本不进行换行 */
                                height: 24px;
                                line-height: 24px;
                                text-align: center;
                            }

                            .d-price{
                                color:red;
                                strong{
                                    font-weight: 600;
                                    font-size: 14px;
                                }
                                del{
                                    color:#333;
                                    margin-left: 2px;
                                    font-size: 12px;
                                    text-decoration: line-through;
                                }
                               
                            }
                        }
                    }
                    li:hover{
                        position: relative;
                        top:-4px;
                        // box-shadow: 0 0 20px #ccc;
                     }
                }
            }
           
        }
        .search{
            float:left;
            width: 190px;
            height: 85px;
            line-height: 85px;
            position: relative;
            input{
                border:1px solid #b8b8b8;
                width: 190px;
                height: 36px;
                padding:0 12px;
                box-sizing: border-box;
                font-size: 14px;
            }
            button{
                position: absolute;
                width: 50px;
                height: 34px;
                left:138px;
                top:25px;
                background: #fff;
                cursor: pointer;
            }
          
        }
    }
}

.banner-wrap{
        width:100%;
        position: relative;
       .banner-inner{
            height: 480px;
            overflow-x:hidden;
            ul{
                width:12000px;
                height: 480px;
                overflow:hidden;
                    li a{
                            display: block;
                            float: left;
                            height: 480px;
                            img{
                                width: 100%;
                                height: 100%;
                            }
                        }    
                    } 
         }
        .leftnav{
            margin-left: 100px;
            width: 250px;
            height: 480px;
            position: absolute;
            top: 0px;
            left: 0px;
            z-index: 10;
            background-color: rgba(248, 247, 247, 0.8);
    
            .navwrap>li{
                    color: #333;
                    padding: 13px 20px 13px 22px;
                    box-sizing: border-box;
                    margin: 0;
                    height: 68.5px;
                    overflow: hidden;
                    
                    h2{
                        color:inherit;
                        padding-bottom: 8px;
                        a{
                            color:#333333;
                        }
                    }
    
                    ul li{
                        float: left;
                        margin: 0 10px 5px 0 !important;
                        line-height: normal;
                    }
                    .goods-block{
                        width:320px;
                        height: 480px;
                        background: #fff;
                        position: absolute;
                        top:0;
                        left:250px;
                        ul{
                            width:320px;
                            padding: 3px 15px;
                            li{
                                float:left;
                                .goods-img{
                                    width: 50px;
                                    height: 66px;
                                    line-height: 66px;
                                    display: inline-block;
                                    float: left;
                                    text-align: center;
                                    img{
                                        max-width: 50px;
                                        max-height: 66px;
                                        vertical-align: middle;
                                        margin-top: 0;
                                    }
                                }
                                .goods-title{
                                    display: inline-block;
                                    line-height: 66px;
                                    margin-left: 20px;
                                    overflow: hidden;
                                    float: left;
                                    a:hover{
                                        color:rgb(252,102,40);
                                    }
                                }
                            }
                        }
                    }
            }
            .navwrap>li:hover{
               background: #fff;
            }
        } 
        .active-num {
            position: absolute;
            top: 435px;
            right: 388px;
            z-index: 99;
            li{
                float: left;
                margin-right: 6px;
                width:10px;
                height: 10px;
                border:1px solid #fff;
                border-radius: 50%;
                cursor: pointer;
            }
            .active{
                background: #fff;
            }
        } 

        .tab{
            position: absolute;
            width: 50px;
            height: 100px;
            cursor: pointer;
            top:0;
            bottom:0;
            margin: auto;
            background: rgba(0,0,0,.2);
        }

        .tab:hover{
            background: rgb(106,195,216);
        }

        .left-tab{
            left:0;
            .left{
                left: 24px;
                -webkit-transform: translate(0,-50%) rotate(-135deg);
                transform: translate(0,-50%) rotate(-135deg);
            }
        }


        .right-tab{
            right:0;
        }
      
        .arrow{
            position: absolute;
            right: 20px;
            top: 50%;
            display: inline-block;
            content: "";
            width: 18px;
            height: 18px;
            border: solid #fff;
            border-width: 2px 2px 0 0;
            -webkit-transform: translate(0,-50%) rotate(45deg);
            transform: translate(0,-50%) rotate(45deg);
        }

}

.hot-wrap{
    height: 430px;
    .h-main{
        .hot-title{
            h2{
                display: inline-block;
                height: 94px;
                line-height: 94px;
            }
            em{
                display: inline-block;
                font-size: 10px;
            }
        }
        .hot-goods{
            position: relative;
             a{  
                display: inline-block;
                width: 608px;
                margin: 3px;
                img{
                    width: 100%;
                    height: 100%;
                }
            }

            a:hover img{
                position: relative;
                top:-4px;
                box-shadow: 0 0 20px #ccc;
            }
        }
    }
}
.prod-wrap{
    height: 1506px;
    background: #f5f5f5;
    padding-top: 10px;
    .boutique-wrap{
        .b-title{
            h2{
                display: inline-block;
                height: 90px;
                line-height: 90px;
            }
            em{
                display: inline-block;
                font-size: 10px;
            }
        }
        .b-goods{
            height: 610px;
            .mobile-banner{
                width: 300px;
                float:left;
                img{
                    width:100%;
                    height: 100%;
                }
            }
            .mobile-banner:hover{
                position: relative;
                top:-4px;
                box-shadow: 0 0 20px #ccc;
            }
            .mobile-prod{
                float:left;
                width:940px;
                ul li{
                    float:left;
                    width:300px;
                    height: 300px;
                    margin-left: 8px;
                    margin-bottom: 10px;
                    background: #fff;
                    .goodImg{
                        width:180px;
                        height:180px;
                        margin: auto;
                        position: relative;
                        padding-top: 25px;
                        img{
                            width:100%;
                            height: 100%;
                        }
                    }
                    .good-details{
                        margin-top: 10px;
                        p{
                            padding:0 15px;
                            overflow: hidden;/*超出部分隐藏*/
                            text-overflow:ellipsis;/* 超出部分显示省略号 */
                            white-space: nowrap;/*规定段落中的文本不进行换行 */
                            height: 24px;
                            line-height: 24px;
                            text-align: center;
                        }
                        .phone-title{
                            color:#333333;
                            font-size: 14px;
                        }
                        .phone-desc{
                            color:#b0b0b0;
                            font-size: 12px;
                        }
                        .phone-price{
                            color:red;
                            strong{
                                font-weight: 600;
                                font-size: 16px;
                            }
                            del{
                                color:#333;
                                margin-left: 2px;
                                font-size: 14px;
                                text-decoration: line-through;
                            }
                        }
                    }
                }

                ul li:hover{
                    position: relative;
                    top:-4px;
                    box-shadow: 0 0 20px #ccc;
                }
            }
        }

    }
    .capacity-wrap{
        .c-title{
            h2{
                display: inline-block;
                height: 90px;
                line-height: 90px;
            }
            em{
                display: inline-block;
                font-size: 10px;
            }
        }
        .c-goods{
            height: 300px;
            .capacity-prod{
                ul li{
                    float:left;
                    width:300px;
                    height: 300px;
                    margin-right: 10px;
                    background: #fff;
                    .capacityImg{
                        width:180px;
                        height:180px;
                        margin: auto;
                        position: relative;
                        padding-top: 25px;
                        img{
                            width:100%;
                            height: 100%;
                        }
                    }
                    .capacityDetails{
                        margin-top: 10px;
                        p{
                            padding:0 15px;
                            overflow: hidden;/*超出部分隐藏*/
                            text-overflow:ellipsis;/* 超出部分显示省略号 */
                            white-space: nowrap;/*规定段落中的文本不进行换行 */
                            height: 24px;
                            line-height: 24px;
                            text-align: center;
                        }
                        .phone-title{
                            color:#333333;
                            font-size: 14px;
                        }
                        .phone-desc{
                            color:#b0b0b0;
                            font-size: 12px;
                        }
                        .phone-price{
                            color:red;
                            strong{
                                font-weight: 600;
                                font-size: 16px;
                            }
                            del{
                                color:#333;
                                margin-left: 2px;
                                font-size: 14px;
                                text-decoration: line-through;
                            }
                           
                        }
                    }
                }

                ul li:hover{
                    position: relative;
                    top:-4px;
                    box-shadow: 0 0 20px #ccc;
                }
            }
        }
    }

    .parts-wrap{
        .p-title{
            h2{
                display: inline-block;
                height: 90px;
                line-height: 90px;
            }
            em{
                display: inline-block;
                font-size: 10px;
            }
            
            ul{
                float:right;
                li{
                    display: block;
                    width: 50px;
                    height: 90px;
                    line-height: 90px;
                    float: left;
                    color:#767676;
                    text-align: center;
                    font-size: 14px;
                    img{
                         vertical-align: middle;
                    }
                }
            }
        }
        .p-goods{
            height: 300px;
            .parts-prod{
                ul li{
                    float:left;
                    width:300px;
                    height: 300px;
                    margin-right: 10px;
                    background: #fff;
                    .partsImg{
                        width:180px;
                        height:180px;
                        margin: auto;
                        position: relative;
                        padding-top: 25px;
                        img{
                            width:100%;
                            height: 100%;
                        }
                    }
                    .partsDetails{
                        margin-top: 10px;
                        p{
                            padding:0 15px;
                            overflow: hidden;/*超出部分隐藏*/
                            text-overflow:ellipsis;/* 超出部分显示省略号 */
                            white-space: nowrap;/*规定段落中的文本不进行换行 */
                            height: 24px;
                            line-height: 24px;
                            text-align: center;
                        }
                        .phone-title{
                            color:#333333;
                            font-size: 14px;
                        }
                        .phone-desc{
                            color:#b0b0b0;
                            font-size: 12px;
                        }
                        .phone-price{
                            color:red;
                            strong{
                                font-weight: 600;
                                font-size: 16px;
                            }
                            del{
                                color:#333;
                                margin-left: 2px;
                                font-size: 14px;
                                text-decoration: line-through;
                            }
                           
                        }
                    }
                }

                ul li:hover{
                    position: relative;
                    top:-4px;
                    box-shadow: 0 0 20px #ccc;
                }
            }
        }
    }
}
