@import "reset";
@import "base";

.login-wrap{
    width:100%;
    height: 650px;
    background: #f9f9f9;

    .l-top{
        @extend .container;
        height: 40px;

        .t-left{
            float:left;
            a{
                margin: 0 10px;
                line-height: 40px;
            }
            a:hover{
                color:#000;
            }
        }
        .t-right{
            float: right;
            a{
                margin: 0 10px;
                line-height: 40px;
            }
            a:hover{
                color:#000;
            }
        }
    }

    .l-main{
        @extend .container;
        height: 650px;
        margin-top: 40px;
        .bigImg{
            width: 410px;
            height: 424px;
            margin-top:40px;
            margin-left: 182px;
            float: left;
            border-right: 1px solid #eee;
            img{
                width: 334px;
                height: 334px;
            }
        }
        .l-login{
            float: left;
            width:336px;
            height: 524px;
            padding:0 80px;
     
            .login-type{
                height: 28px;
                line-height: 28px;
                text-align: center; 
                margin-bottom: 26px;
            }

            .tips{
                position: absolute;
                width:148px;
                height: 40px;
                line-height: 40px;
                border:1px solid #808080;
                border-radius: 5px;
                top:48px;
                left:90px;
                z-index:9;
                background: #fff;
                .angle{
                    position: absolute;
                    top:-9px;
                    left:26px;
                }
                .d-icon{
                    margin:8px;
                }
            }
            .l-tab{
                position: relative;
              
                .m-require{
                    @extend .tips;
                }
            }

            .v-input{
                position: relative;
                .vcode{
                    position: absolute;
                    right: 92px;
                    top:10px;
                    img{
                        cursor: pointer;
                    }
                }
            }
            #changeCode{
                margin-left: 6px;
            }
            #txtRcode{
                width: 252px;
            }

            .agreement{
                width:334px;
                height: 70px;
                #agree{
                    width: 15px;
                    height: 15px;
                    vertical-align: middle;
                    margin:4px 8px 0;
                }
                span{
                    display: inline-block;
                    vertical-align: middle;
                }
            }
           
            .m-input{
                position: relative;
                .mcode{
                    position: absolute;
                    width: 124px;
                    height: 40px;
                    line-height: 40px;
                    text-align: center;
                    top:0;
                    right: 0;
                    cursor: pointer;
                    border-left: 1px solid #ccc;
                    a{
                        color:#333333;
                    }
                    
                }
                .mcode:hover{
                    background: #e6e6e6;
                }

            }
            
            input{
                width: 330px;
                height: 40px;
                border:1px solid #cccccc;
                padding-left: 12px;
                box-sizing: border-box;
                margin-bottom: 12px;
                color: #999;
            }
            .onfocus-input{
                @extend input;
         
                border-color: #9ecaed;
                box-shadow: 0 0 10px #9ecaed;
                // border-color: #a94442;
                // box-shadow: 0 0 10px #a94442;
            }
            .onblur-input {
                @extend input;
            }

            input:focus {
                border-color: #9ecaed;
                box-shadow: 0 0 10px #9ecaed;
                // border-color: #a94442;
                // box-shadow: 0 0 5px #a94442;
            }
        
            button{
                width: 330px;
                height: 40px;
                line-height: 40px;
                text-align: center;
                color:#fff;
                font-size: 14px;
                background: #0186d1;
                border-radius: 2px;
                margin-top: 10px;
                cursor: pointer;
            }

            .msginfo{
                width: 334px;
                height: 52px;
                line-height: 52px;
                padding-left: 16px;
                box-sizing: border-box;
                background:#f2dede;
                margin-top: 26px;
                color:#a94442;
            }

            .member-login{
                width: 334px;
                height: 60px;
                line-height: 60px;
                text-align: center;
                a{
                    margin: 0 15px;
                }
                a:hover{
                    color:#000;
                }
                #register{
                    color:#1790d8;
                }
            }

        }
    }

}

